body{
    overflow-x:hidden;
    margin: 0;
    padding:0;
   /* background-image:url(image/atom.jpg);*/
    height: auto;
    width: 100%;
    display: block;
    position: relative;
   
}

header { 
    height: 250px;
    text-align: center;
    align-items: center;

}

#entête{
    background-image:url(image/ecriture.jpg);
    height:250px;
    width: 100%;
}



#entête h1 {
    display: flex;
    display: block;
    justify-content:center; 
    align-items:center; 
    color:rgb(40, 13, 58);
    margin:0;
    position:relative ;
    text-align: center;
    top:200px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size:60px;
}
 #entête p{


 }

nav{
background-color: rgb(40, 13, 58);
width: 100%;
height:100px ;
position: relative;
min-width: 500px;

}

nav ul {
    float: left;
    list-style-type:none ;
    left: 50%;
    padding-top: 15px;
    margin-left: -60px;
    position: relative;
}

nav ul li {
    float:left;
    list-style-type: none;
    margin-left: 20px;
    position: relative;
    left: -50%;

   
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    justify-content: space-between;


}

nav ul li a:hover {
    color:rgb(165, 155, 140);
    background-color: whitesmoke;


}


#corps {
    display: block;
    width: 800px;
    margin:auto;




}
#corps h1{
 display: block;
 position: relative;
 width:100%;
 margin:0;
 text-align: center;
 font-family:'Josefin Sans', sans-serif;
 left: 300px;
 float:left;
 
}

#corps table {
display:block;
position: relative;
width:100%;
margin:0;
text-align:center;
text-align:justify;
left:250px;
-webkit-columns: 1 50px;
-moz-columns: 1 50px;
columns: 1 50px;
float:left;
}

#corps table td{
    width: 100%;
    margin-left:300px ;
    margin-right: 80px;
}
@font-face{
font-family:"Sans Serif" ;
src:url(police/Cano.otf);

}




footer{
text-align: center;
display: block ;
height:60px;
background-color:rgb(180, 135, 76) ;
position:absolute;
top:1000px;
bottom: 0;
left: 0;
right: 0;


}

footer p {
    font-weight: bold;
    position:relative ;
  top: 15px;

}